@import "colors";
@import "sizes";

* {
  box-sizing: border-box;
  outline: none;
  //border: 1px solid green;
}

*::-moz-focus-inner{
  border: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: @grey-light;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, "Times New Roman", Times, serif;
  font-size: @font-size;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
}

input{
  outline: none;
}

//input::-moz-focus-inner{
//  border: 0;
//}

input[type=button]{
  border-radius: 3px;
}

select{
  //outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 30px 30px;
  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_down_black_24x24.png") no-repeat 100% 50%;
  margin: 0;
}

select:hover{
  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_left_black_24x24.png") no-repeat 100% 50%;
}

select:focus{
  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_up_black_24x24.png") no-repeat 100% 50%;
}

.flex-spacer {
  flex-grow: 1;
  //width: 100%;
}

.header {
  z-index: 100;
  color: white;
  font-size: @big;
  font-weight: bold;
  display: flex;
  height: 50px;
  width: 100%;
  background: @header;

  input[type=button]{
    background: @input-normal;
    border: none;
  }

  input[type=text]{
    background: transparent;
    border: none;
    border-bottom: 2px solid @input-normal;
  }

  input[type=password]{
    background: transparent;
    border: none;
    border-bottom: 2px solid @input-normal;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    //width: @content-width;
    min-width: @content-width;

    .header-logo {
      display: flex;
      flex-direction: row;
      .header-text{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .header-menu{
      display: flex;
      div{
        height: 50px;
        width: 50px;
        padding: 10px;
        img{
          height: 30px;
          width: 30px;
        }
      }
    }
    .header-log-in {
      .header-log-in-union {
        display: flex;
        width: 300px;
        height: 100%;
        .header-button {
          cursor: pointer;
          width: 150px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .header-button:hover{
          background: @blue-light;
        }
      }
      .log-in-form {
        //height: 110px;
        display: none;
        width: 300px;
        background: @header;
        padding: 5px;
        label{
          font-size: @small;
        }

        input[type=button]{
          background: @blue-light;
        }

        input[type=text]{
          border-bottom: 2px solid @blue-light;
        }
        input[type=password]{
          border-bottom: 2px solid @blue-light;
        }
        input[type=button]:hover{
          background: @input-hover;
        }

        input[type=text]:hover{
          border-bottom: 2px solid @input-hover;
        }
        input[type=password]:hover{
          border-bottom: 2px solid @input-hover;
        }
        input{
          width: 100%;
          height: 30px;
          font-size: @normal;
          margin-bottom: 5px;
          color: white;
        }
        #log-in{
          margin-bottom: 0;
        }
        #log-in-form-err{
          font-size: @small;
          color: red;
        }
      }
      .log-out-form {
        //height: 110px;
        display: none;
        width: 300px;
        background: @header;
        padding: 5px;
        label{
          font-size: @small;
        }

        input[type=button]{
          background: @blue-light;
        }

        input[type=text]{
          border-bottom: 2px solid @blue-light;
        }
        input[type=button]:hover{
          background: @input-hover;
        }

        input[type=text]:hover{
          border-bottom: 2px solid @input-hover;
        }
        input{
          width: 100%;
          height: 30px;
          font-size: @normal;
          margin-bottom: 5px;
          color: white;
        }
        #log-out{
          margin-bottom: 0;
        }
      }
    }
  }
}

.data {
  display: flex;
  flex-grow: 1;
  .data-content {
    min-width: @content-width;
    //width: @content-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer {
  display: flex;
  height: 20px;
  width: 100%;
  background: @header;
  color: white;
  .footer-content{
    display: flex;
    flex-direction: column;
    min-width: @content-width;
    //width: @content-width;
    .footer-lang{
      align-self: flex-end;
      width: 70px;
      select{
        color: white;
        width: 100%;
        height: 20px;
        font-size: @small;
        border: none;
        transition: 0.2s;
      }
    }
  }
}