@grey-light: #E0E0E0;
@grey: #9E9E9E;
@grey-dark: #616161;
@blue-light: #2196F3;
@blue: #2174be;
@blue-dark: #0D47A1;
@green-light: #8BC34A;
@green: #4CAF50;
@green-dark: #1B5E20;
@orange-light: #FFC107;
@orange: #FF9800;
@orange-dark: #FF5722;
@red-light: #f44336;
@red: #d32f2f;
@red-dark: #b71c1c;

@header: @blue;
@input-normal: @header;
@input-hover: @green;
@input-disabled: @red;
