@import "colors";
@import "sizes";
.block{
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
}
#posts{
  width: 100%;
  .post{
    .post-map{
      height: 300px;
      width: 100%;
    }
    .post-header{
      display: flex;
      flex-direction: row;
      img{
        max-height: 50px;
        max-width: 50px;
      }
    }
    .post-img{
      img{
        max-height: 700px;
        max-width: 700px;
      }
    }
  }
}

#navigation{
  input[type=button]{
    color: white;
    width: 100px;
    height: 30px;
    background: @input-normal;
    border: none;
  }
  input[type=button]:hover{
    background: @input-hover;
  }
  input[type=button]:disabled{
    background: @input-disabled;
  }
}