@import "colors";
@import "sizes";
.block{
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
}

.search-bar{
  width: 100%;
  input[type=text]{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: @input-normal solid 2px;
  }
  input[type=text]:hover{
    border-bottom: @input-hover solid 2px;
  }
}

.search-btn{
  input[type=button]{
    height: 30px;
    width: 100px;
    border: none;
    background: @input-normal;
    color: white;
  }
  input[type=button]:hover{
    background: @input-hover;
  }
}
.search-results{
  width: 100%;
  .user{
    display: flex;
    flex-direction: column;
    .user-data{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: flex-start;
      img{
        max-height: 50px;
        max-width: 50px;
      }
    }
    .user-follow{
      display: flex;
      flex-direction: row;
      justify-content: center;
      input[type=button]{
        width: 100px;
        height: 30px;
        border: none;
        background: @input-normal;
        color: white;
      }
      input[type=button]:hover{
        background: @input-hover;
      }
    }
  }
}
