@import "sizes";
@import "colors";

.block{
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
}

.user-info{
  display: flex;
  flex-direction: row;

  .avatar-wrapper{
    position: relative;
    .avatar{
      max-width: 200px;
      max-height: 400px;
    }
    #avatar-change{
      //display: none;
      position: absolute;
      width: 100%;
      height: 30px;
      top: calc(~"100% - 30px");
      color: white;
      border: none;
      font-size: @small;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.30);
      transition: 0.2s;
      cursor: pointer;
      opacity: 0;
    }
  }

  .avatar-wrapper:hover{
    #avatar-change{
      opacity: 1;
    }
  }

  .user-info-name{
    padding-left: 5px;
    > div{
      margin-top: 5px;
    }
    >div:first-child{
      margin-top: 0;
      font-size: @big;
    }
    >div:last-child{
      margin-bottom: 5px;
    }
  }
}

.subscriptions{
  width: 100%;
  .subscriptions-title{

  }
  .subs{
    display: flex;
    flex-wrap: wrap;
    .sub{
      margin: 5px;
      img{
        max-height: 50px;
        max-width: 50px;
      }
    }
  }
}

.new-post{
  #map{
    height: 400px;
    width: 100%;
  }
  .new-post-text-area{
    textarea{
      width: 100%;
      height: 100px;
      border: none;
      border-bottom: 2px @header solid;
    }
  }
  .new-post-buttons{
    display: flex;
    flex-direction: row;
    .new-post-buttons-add-photo{
      img{
        height: 30px;
        width: 30px;
      }
    }
    .new-post-buttons-submit{
      input[type=button]{
        color: white;
        width: 100px;
        height: 30px;
        background: @input-normal;
        border: none;
      }
      input[type=button]:hover{
        background: @input-hover;
      }
    }
  }
}

#posts {
  width: 100%;
  .post {
    .post-map{
      height: 300px;
      width: 100%;
    }
    input[type=button]{
      color: white;
      width: 100px;
      height: 30px;
      background: @input-normal;
      border: none;
    }
    input[type=button]:hover{
      background: @input-hover;
    }
    input[type=button]:disabled{
      background: @input-disabled;
    }
    .post-header {
      display: flex;
      flex-direction: row;
      img {
        max-height: 50px;
        max-width: 50px;
      }
    }
    .post-img {
      img {
        max-height: 700px;
        max-width: 700px;
      }
    }
  }
}

#navigation{
  input[type=button]{
    color: white;
    width: 100px;
    height: 30px;
    background: @input-normal;
    border: none;
  }
  input[type=button]:hover{
    background: @input-hover;
  }
  input[type=button]:disabled{
    background: @input-disabled;
  }
}

//.post{
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  .post-text{
//    width: 100%;
//  }
//  .post-img{
//    img{
//      max-width: 700px;
//      max-height: 700px;
//    }
//  }
//  input[type=button]{
//    color: white;
//    width: 100px;
//    height: 30px;
//    background: @input-normal;
//    border: none;
//  }
//  input[type=button]:hover{
//    background: @input-hover;
//  }
//}