@import "colors";
@import "sizes";

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-header{
      align-self: flex-start;
    }
    .form-inputs{
      display: flex;
      flex-direction: column;
      width: 300px;
      .reg-err{
        display: none;
        color: red;
        font-size: @small;
      }
      > div{
        width: 300px;
        margin-top: 5px;
      }
      label{
        font-size: @small;
      }
      input{
        width: 100%;
        height: 30px;
        font-size: @normal;
      }
      select{
        width: 100%;
        height: 30px;
        font-size: @normal;
        color: black;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: @input-normal solid 2px;
        transition: 0.2s;
      }
      input[type=text]{
        border: none;
        border-bottom: @input-normal solid 2px;
      }
      input[type=text]:hover{
        border-bottom: @input-hover solid 2px;
      }
      input[type=password]{
        border: none;
        border-bottom: @input-normal solid 2px;
      }
      input[type=password]:hover{
        border-bottom: @input-hover solid 2px;
      }
      input[type=button]{
        border: none;
        background: @input-normal;
        color: white;
      }
      input[type=button]:hover{
        background: @input-hover;
      }
    }
  }
}