.block{width:100%;margin:5px 0;padding:5px;border-radius:3px;background:#fff}#posts{width:100%}#posts .post .post-map{height:300px;width:100%}#posts .post .post-header{display:flex;flex-direction:row}#posts .post .post-header img{max-height:50px;max-width:50px}#posts .post .post-img img{max-height:700px;max-width:700px}#navigation input[type=button]{color:#fff;width:100px;height:30px;background:#2174be;border:none}#navigation input[type=button]:hover{background:#4caf50}#navigation input[type=button]:disabled{background:#d32f2f}
